{% if resume.basics.profiles %}
    <section id="profiles">
        <h2>Perfis</h2>
        <div class="item">
            {% for row in resume.basics.profiles | batch(2, none) %}
                <div class="row">
                    {% for profile in row %}
                        <div class="col">
                            {% if profile and profile.network and profile.username and profile.url %}
                                <div class="profile-details">
                                    <div class="profile-meta">
                                        <div class="profile-network">{{ profile.network }}</div>
                                        <div class="profile-username">{{ profile.username }}</div>
                                    </div>
                                    <div class="profile-url">
                                        {{ wrap_url(profile.url) }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}
