{% from 'partials/item.html' import render_item with context %}

{% if resume.projects %}
    <section id="projects">
        <h2>Projetos</h2>
        <div class="item">
            {% for item in resume.projects %}
                {% if item.name and item.description %}
                    {% call render_item(
                        title=item.name,
                        subtitle=item.description,
                        url=item.url,
                        main_url=item.url
                    ) %}
                    {% endcall %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endif %}
